<!doctype html>
<html class="no-js" lang="en">
  
    <body>
       {{!-- <h1>{{Product}}</h1> --}}
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--Preloader area -->
      
        <!--Header area start here-->
      
        <!--Header area end here-->
        <!--Breadcumb area start here-->
        <section class="breadcumb-area">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcum-nav">
                            <h4>Reports</h4>
                            <ul>
                                <li><a href="/">home</a></li>
                                <li><a href="#">Reports</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="products-page section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="sidebar">
                           
                           
                            
                        </div>
                    </div>
                    
                    <div class="col-md-9 col-sm-12 pd-0">
                        <div class="col-sm-12">
                            <div class="pro-filter">
                                <div class="gr-li">
                                    <ul class="list-inline">
                                        <li><a href="#" id="gridview"><i class="fa fa-th"></i></a></li>
                                        <li><a href="#" id="listview"><i class="fa fa-list"></i></a></li>
                                    </ul>
                                    
                                </div>
                            </div>
                            <div class="pro-file">
                                <div class="filtersd">  
                                    <form id="tableForm" action="/admin/reports" method="POST">
                                        <select class="selectpicker" data-style="btn-info" name="selectreportpicker">
                                            
                                                <option value="tnou">Total Number of users</option>
                                                <option value="totalprod">Total Products</option>
                                                <option value="totalsold">Total Sold Products</option>
                                            
                                        </select>
                                        <input type="submit" value="check" />
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div id="products" class="row">
                            {{#if totalnumofusers}}
                                <h4>Total Number of Users : {{totalnumofusers}}</h4>
                                <table id="dtBasicExample" class="table" width="100%">
                            <thead>
                                <tr>
                                <th class="th-sm">Full Name
                                </th>
                                <th class="th-sm">Contact Number
                                </th>
                                <th class="th-sm">Address
                                </th>
                                <th class="th-sm">Pincode
                                </th>
                                <th class="th-sm">Email id
                                </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each userlist}}
                                    <tr>
                                        <td>{{this.fname}} {{this.lname}}</td>
                                        <td>{{this.contactNumber}}</td>
                                        <td>{{this.address}}</td>
                                        <td>{{this.pincode}}</td>
                                        <td>{{this.email}}</td>
                                    </tr>
                                {{/each}}
                               
                            </tbody>
                            
                                </table>
                            {{/if}}
                            {{#if totalnumofproduct}}
                                <h4>Total Number of Product : {{totalnumofproduct}}</h4>
                                 <table id="dtBasicExample" class="table" width="100%">
                            <thead>
                                 <tr>
                                <th class="th-sm">Product name</th>
                                <th class="th-sm">Product Type</th>
                                <th class="th-sm">Price</th>
                                <th class="th-sm">Description</th>
                                <th class="th-sm">Product Add on</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each prodlist}}
                                    <tr>
                                        <td>{{this.productName}}</td>
                                        <td>{{this.productType}}</td>
                                        <td>{{this.price}}</td>
                                        <td>{{this.description}}</td>
                                        <td>{{this.ProductAddDate}}</td>
                                    </tr>
                                {{/each}}
                               
                            </tbody>
                            
                                </table>
                            {{/if}}
                              {{#if totalnumoforder}}
                                <h4>Total Sold product : {{totalnumoforder}}</h4>
                                <table id="dtBasicExample" class="table" width="100%">
                            <thead>
                                <tr>
                                <th class="th-sm">Full Name
                                </th>
                                <th class="th-sm">Email id
                                </th>
                                <th class="th-sm">Address
                                </th>
                                <th class="th-sm">contact Number
                                </th>
                                <th class="th-sm">Email id
                                </th>
                                <th class="th-sm">Products Name
                                </th>
                                </tr>
                            </thead>
                            <tbody>
                               
                               
                            </tbody>
                            
                                </table>
                            {{/if}}
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <!--Product page area end here-->
        <!--Daily deal area start here-->
      
        <!--Daily deal area end here-->
        <!--Footer area start here-->
     
        <!--Footer area end here-->
        <!-- all js here -->
        <!-- jquery latest version -->
      
    </body>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" ></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        
      $(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
    </script>
</html>
