<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        {{#each userprofile}}

        <form action="/editProfile" method="post">
            <label for="first_name">First name</label>
            <input type="text" id="firstName" value="{{this.fname}}" name="fname" style="width: 300px;" class="form-control"><br>

            <label for="last_name">Last name</label>
            <input type="text" id="lastName" value="{{this.lname}}" name="lname" style="width: 300px;"  class="form-control" ><br>

            <label for="email">Email</label>
            <input type="email" id="email" value="{{this.email}}" name="email" style="width: 300px;"  class="form-control" readonly><br>

            <input type="hidden" name="_id" value="{{this._id}}">

            <input type="submit" class="btn-st rd-30" name="updateprofile" value="Update Profile">
            <input type="submit" class="btn-st rd-30" name="changepassword" value="Change Password">

        </form>
        {{/each}}
        <hr>
        <h2>My Orders</h2>
        {{!-- {{#each orders}}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    {{# each this.items}}
                    <li class="list-group-itme">
                        {{ this.item.title }} | {{ this.qty }} Units
                        <span class="badge">${{ this.price}}</span>
                        
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="panel-footer">
                <strong> Total Price: ${{ this.cart.totalPrice }}</strong>
            </div>
        </div>
        {{/each}} --}}
        
    </div>
</div>